<h1>Editing grade competence</h1>

<%= render "form", grade_competence: @grade_competence %>

<br>

<div>
  <%= link_to "Show this grade competence", @grade_competence %> |
  <%= link_to "Back to grade competences", grade_competences_path %>
</div>
