<div id="<%= dom_id project_problem %>">
  <p>
    <strong>Problem:</strong>
    <%= project_problem.problem %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= project_problem.level_id %>
  </p>

</div>
