<p style="color: green"><%= notice %></p>

<h1>Project problems</h1>

<div id="project_problems">
  <% @project_problems.each do |project_problem| %>
    <%= render project_problem %>
    <p>
      <%= link_to "Show this project problem", project_problem %>
    </p>
  <% end %>
</div>

<%= link_to "New project problem", new_project_problem_path %>
