<h1>Editing fundamental competence</h1>

<%= render "form", fundamental_competence: @fundamental_competence %>

<br>

<div>
  <%= link_to "Show this fundamental competence", @fundamental_competence %> |
  <%= link_to "Back to fundamental competences", fundamental_competences_path %>
</div>
