<p style="color: green"><%= notice %></p>

<h1>Fundamental competences</h1>

<div id="fundamental_competences">
  <% @fundamental_competences.each do |fundamental_competence| %>
    <%= render fundamental_competence %>
    <p>
      <%= link_to "Show this fundamental competence", fundamental_competence %>
    </p>
  <% end %>
</div>

<%= link_to "New fundamental competence", new_fundamental_competence_path %>
