<h1>New fundamental competence</h1>

<%= render "form", fundamental_competence: @fundamental_competence %>

<br>

<div>
  <%= link_to "Back to fundamental competences", fundamental_competences_path %>
</div>
