<p style="color: green"><%= notice %></p>

<h1>Concept topics</h1>

<div id="concept_topics">
  <% @concept_topics.each do |concept_topic| %>
    <%= render concept_topic %>
    <p>
      <%= link_to "Show this concept topic", concept_topic %>
    </p>
  <% end %>
</div>

<%= link_to "New concept topic", new_concept_topic_path %>
